body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

/**********************************************
 * App Header Css
 **********************************************/

#app-header {
    position: relative;
    padding: 25px;
    border: hidden;
    border-bottom: 1px solid silver;
    z-index: 99;
    height: 30px;
    background-color: white;
    padding:20px;
}

#app-header .logo {
    position: absolute;
    left: 20px;
}

#app-header .nav {
    margin: -10px;
    font-size: 0;
    text-align: center;
}

#app-header .nav .header-menu {
    display: inline-block;
    padding: 20px 10px 30px;
    color:black;
    font-size: 15px;
    font-weight: bold;   
}

#app-header .nav .header-menu:hover .subcategory-box{
    display: block;   
}

#app-header .nav .header-menu .subcategory-box {
    display: none;
    top:71px;
    padding: 100px;
    background-color: white;
    position: absolute;
    left:0;
    right:0;
    max-width: 100%;
    height: 120px;
    border-bottom: 1px solid silver;
}

#app-header .nav .header-menu .subcategory-box .subcategory1-1, #app-header .nav .header-menu .subcategory-box .subcategory1-2{
    position: absolute;
    top: 100px;
}

#app-header .nav .header-menu .subcategory-box .subcategory1-1{
    left: 500px;
}

#app-header .nav .header-menu .subcategory-box .subcategory1-2{
    left: 800px;
}

#app-header .nav .header-menu .subcategory-box li{
    list-style-type: none;
    text-align: left;
    padding: 5px;
}

#app-header .nav .header-menu .subcategory-box li:hover {
    color: silver;
    cursor: pointer;
}

#app-header .nav a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
}

#app-header .nav a:hover {
    color: silver;
    padding:10px;
    padding-bottom: 20px;
    border: 1px hidden black;
    border-bottom: 2px solid black;
}

#app-header .nav-mini {
    position: absolute;
    top: 20px;
    right: 90px;
}

#app-header .search-box {
    position: absolute;
    top: 20px;
    right: 50px;    
}

#app-header .search-box-mini {
    position: absolute;
    top: 20px;
    right: 50px;
}

#app-header .search-box input {
    display: block;
    width: 90%;
    padding-left: 35px;

    height: 30px;
    width: 200px;
    right: 0;
}

#app-header .search-box .btn-search{
    position: absolute;
    left: 8px;
    top: 4px;
    font-size: 20px;
}

@media (max-width: 900px) {
    #app-header .nav .header-menu {
        display: none;
    }    
    #app-header .search-box {
        display: none;
    }
}

@media (min-width: 900px) {
    #app-header .search-box-mini {
        display: none;
    }
    #app-header .nav-mini {
        display:none;
    }
}

@media (max-width:899px) {
    #app-header .search-box-mini {
        display: block;
    }
    #app-header .nav-mini {
        display: block;
    }
}

/**********************************************
 * Product Content Side Nav Css
 **********************************************/
.content-product .side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
    margin: 0;
    padding: 0;
    top: 200px;
    list-style: none;
}

.content-product .side-nav li{
    margin:0px 30px;
    display: block;
}

.content-product .side-nav a {
    padding: 8px 0px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    display: block;
    transition: 0.2s;
    text-align: center;
}

.content-product .side-nav a:hover {
    color: #f1f1f1; 
}

.content-product .side-nav li:first-child {
    font-weight: bold;
    border-top: 1px solid silver;
}

